# Environnement virtuel
venv/
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Fichiers de configuration sensibles
*.env
huggingface_token.env

# Fichiers de données volumineux
*.parquet
*.csv
*.json

# Logs
*.log
execution_logs/

# Jupyter Notebook
.ipynb_checkpoints

# Fichiers système
.DS_Store
Thumbs.db 