# Environnement virtuel
venv/
.env
source/data_Darija-SFT-Mixture/huggingface_token.env

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Fichiers de données
# Exclure les fichiers de données volumineux ou temporaires
source/agregation/data_synthetique/*.json
source/agregation/data_synthetique/*.xlsx
source/agregation/data_synthetique/*.csv
source/agregation/data_synthetique/*.parquet
source/agregation/translations_with_tags.json
source/agregation/notebook/*.csv
source/agregation/notebook/*.parquet

# Inclure les fichiers de données importants
!source/agregation/data_synthetique/questions_fr.xlsx
!source/agregation/data_synthetique/questions_en.xlsx
!source/agregation/structured_json/*.json

# Fichiers système
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log
logs/

# Fichiers temporaires
tmp/
temp/ 